{% extends "base.html" %}

{% block title %}客户关系管理{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.user_name }}{% else %}Stranger{% endif %}!</h1>
</div>
<div>
    1234567
    <canvas id="myChart" width="400" height="400"></canvas>
    7654321
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.bootcss.com/p/chart.js/docs/prettify.js"></script>
<script src="http://www.bootcss.com/p/chart.js/docs/Chart.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
    var lineChartData = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : [65,59,90,81,56,55,40]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [28,48,40,19,96,27,100]
            }
        ]
    }
    $(function(){
        $.getJSON($SCRIPT_ROOT + '/boss/_statistics_allam_workplan_sum',
                {},
                function(data) {
                    lineChartData.labels = data.labels;
                    lineChartData.datasets = data.datasets;
                    var myLine = new Chart(document.getElementById("myChart").getContext("2d")).Line(lineChartData);

      });
      return false;
    })

{#    var myLine = new Chart(document.getElementById("myChart").getContext("2d")).Line(lineChartData);#}

</script>

{% endblock %}
