{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}客户关系管理{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.user_name }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="row">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="col-md-4">
            {{ wtf.form_field(form.am_id) }}
            {{ wtf.form_field(form.start_date) }}
            {{ wtf.form_field(form.end_date) }}
        </div>
        <div class="col-md-8">
            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.bootcss.com/p/chart.js/docs/prettify.js"></script>
<script src="http://www.bootcss.com/p/chart.js/docs/Chart.js"></script>
<script type="text/javascript">
    $('#birthday').attr('type', 'date')
</script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
    var lineChartData = {}
    $(function(){
        $.getJSON($SCRIPT_ROOT + '/boss/_statistics_allam_workplan_sum',
                {},
                function(data) {
                    lineChartData.labels = data.labels;
                    lineChartData.datasets = data.datasets;
                    var myLine = new Chart(document.getElementById("myChart").getContext("2d")).Line(lineChartData);
      });
      return false;
    })
</script>

{% endblock %}
