{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}销售成本统计{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.user_name }}{% else %}Stranger{% endif %}!</h1>
        <h2>客户经理销售成本录入页面</h2>
</div>
<div class="row">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="col-md-4">
            {{ wtf.form_field(form.am_id) }}
        </div>
        <div class="col-md-8">

        </div>

    </form>
</div>
{% endblock %}
